body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.nav-list {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
}
.logo-link {
  color: #6070ff;
  font-size: 25px;
  font-weight: 700;
}
.bi-list {
  margin-top: px;
  width: 30px;
  height: 30px;
  color: #6070ff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}
#intro {
  background-image: url(/Assets/background-images/header-shapes\ mobile.png);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.greetings {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding-right: 10%;
}
.intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.connect {
  color: #6070ff;
  font-weight: 500;
  font-size: 15px;
}
.social-icons {
  height: 22px;
  width: 22px;
  padding-right: 15px;
}
