body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f7f7f9;
}

html {
  min-width: 365px;
}

ul {
  list-style-type: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin: 5px 5px;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo-link {
  color: #6070ff;
  font-size: 25px;
  font-weight: 700;
}

.bi-list {
  width: 30px;
  height: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
}

.nav {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  opacity: 95%;
}

#intro {
  background-color: white;
  padding-top: 80px;
  border-bottom-left-radius: 80px;
}

.intro-container {
  background-image: url(./Assets/background-images/header-shapes-mobile.svg);
  background-size: calc(100%);
  background-repeat: no-repeat;
  padding-left: 20px;
  border-bottom-left-radius: 80px;
  padding-right: 30px;
  padding-top: 20px;
  background-color: white;
  padding-bottom: 200px;
}

.greetings {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #172b4d;
  padding-right: 10%;
  margin-bottom: 0;
}

.intro-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: #4859eb;
  font-weight: 500;
  font-size: 15px;
}

.connect-links {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.social-icons {
  height: 22px;
  width: 22px;
  padding-right: 15px;
}

#projects {
  padding-top: 100px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.project {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid #dfe1e6;
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-content {
  padding-left: 15px;
  padding-right: 15px;
}

.project-heading {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #597099;
  display: inline;
}

.canopy {
  color: #344563;
}

.count-vector {
  padding-left: 5px;
  padding-right: 5px;
}

.description-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 19px;
  color: #344563;
}

.card-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.language-used {
  background-color: #ebebff;
  color: #4154ff;
  padding: 4px 12px 4px 12px;
  font-size: 12px;
  border-radius: 8px 8px 8px 8px;
  display: inline;
  margin-right: 10px;
}

.languages {
  padding-left: 0;
  display: block;
}

.project-link {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.btn {
  padding: 12px 12px 12px 12px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid #396df2;
  border-radius: 8px 8px 8px 8px;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
  transform: scale(1.05);
  transform-origin: 1%;
  transition-duration: 0.2s;
}

.btn:active {
  background-color: #2230d2;
  color: white;
}

#second-project {
  margin-top: 100px;
}

#third-project {
  margin-top: 100px;
}

#fourth-project {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about {
  padding-right: 29px;
  padding-left: 29px;
  padding-top: 80px;
  padding-bottom: 10px;
  border-top-right-radius: 50px;
}

.about-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-right: 50%;
}

#about-section {
  background-color: white;
  border-top-right-radius: 80px;
}

.about-text {
  font-size: 16px;
  color: #344563;
  font-weight: 400;
}

.language-container {
  padding: 0 20px 30px 20px;
}

.language-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: inline;
}

.about-languages {
  padding-left: 10px;
  margin-top: 40px;
}

.my-language {
  margin-bottom: 0;
  padding: 0 20px 0 10px;
}

.my-language-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
  padding-left: 20px;
}

.my-language-container {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  margin-top: 10px;
  background-color: #f7f7f9;
  border-radius: 8px 8px 8px 8px;
}

.language-rule {
  color: #dfe1e6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.frameworks,
.skills {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 5px;
  padding-top: 5px;
}

.language-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.contact-ul {
  padding-left: 15px;
  padding-right: 15px;
}

.input-text {
  height: 48px;
  border-radius: 8px;
  border: 0;
  margin-bottom: 20px;
  padding-left: 15px;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.contact-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

#contact-me {
  background-image: url(Assets/background-images/contact-form-shapes-mobile.svg);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: calc(70%);
  background-position: right;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top-left-radius: 80px;
}

.contact-text-area {
  border-radius: 8px;
  height: 170px;
  padding: 15px;
}

::placeholder {
  color: #172b4d;
  padding-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-text-area::placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-button {
  background-color: #fff;
  color: #5264ff;
  border: 1px solid #5264ff;
  border-radius: 8px;
  height: 48px;
  width: 140px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact-button:active {
  background-color: #2230d2;
  color: #fff;
}

/* desktop */
.nested-nav-ul {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.nested-nav-li {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #344563;
}

.close-hamb {
  font-size: 40px;
  font-weight: 300;
  color: white;
  padding-right: 15px;
  padding-top: 0;
}

.hamb-ul {
  padding: 0;
  margin: 0;
}

.container-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: none;
  justify-content: space-between;
  background-color: #6070ff;
}

.mobile-nav-item {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  padding: 70px 0 0 30px;
  line-height: 44px;
}

.mobile-nav-links {
  color: white;
}

.mobile-nav-li {
  padding-top: 25px;
}

/* MOBILE */
@media (max-width: 768px) {
  .nested-nav-li {
    display: none;
  }

  .card-reverse {
    display: block;
  }

  .brand-logo {
    padding-left: 15px;
  }

  .nested-nav-ul {
    padding-right: 10px;
  }

  .project-image-web {
    display: none;
  }

  .modal-content {
    display: block !important;
  }
}

@media (min-width: 768px) {
  body {
    min-width: 996px;
  }

  .container-nav {
    display: none;
  }

  .hamburger-bar {
    display: none;
  }

  #intro {
    background-color: white;
    border-bottom-left-radius: 150px;
  }

  .brand-logo {
    padding-left: 60px;
  }

  .intro-container {
    background-image: url(./Assets/background-images/background-header-web.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 250px;
    background-color: white;
    border-bottom-left-radius: 150px;
    padding-right: 150px;
    padding-top: 160px;
    padding-bottom: 200px;
  }

  .greetings {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    padding-right: 400px;
    min-width: 400px;
  }

  .intro-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 100px;
  }

  .project {
    display: flex;
    margin-top: 100px;
  }

  #projects {
    padding: 90px;
  }

  .first-project-image {
    display: none;
  }

  .project-image-web {
    width: 100%;
    height: 100%;
  }

  .project-content {
    padding-left: 40px;
    width: 50%;
  }

  #second-project {
    flex-direction: row-reverse;
  }

  #fourth-project {
    flex-direction: row-reverse;
  }

  .project-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .content-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .description-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .about-container {
    display: flex;
    padding: 100px 120px;
    padding-top: 0;
    border-top-right-radius: 120px;
  }

  #about-section {
    border-top-right-radius: 120px;
  }

  .language-container {
    width: 55%;
    padding-top: 80px;
  }

  .my-language-container {
    display: inline;
    margin-right: 10px;
    background-color: #f7f7f9;
    height: 90px;
    width: 90px;
  }

  .my-language {
    display: flex;
    margin-top: 0;
  }

  .frameworks,
  .skills {
    padding: 5px 0 5px 0;
  }

  .my-language-text {
    padding-left: 0;
    margin: 0;
  }

  .about {
    width: 45%;
  }

  .language-header-container {
    padding: 10px 10px;
  }

  #contact-me {
    display: flex;
    justify-content: center;
    background-image: url(./Assets/background-images/contact-form-background-image-web.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 120px;
  }

  .contact-container {
    width: 40%;
  }

  .input-text {
    border-radius: 0;
  }

  .contact-text-area {
    border-radius: 0;
  }

  .contact-paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }

  .contact-header {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .contact-button-li {
    display: grid;
    justify-content: center;
  }

  .project:hover {
    transform: scale(1.015);
    transform-origin: 1%;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-li:hover {
    transform: scale(1.15);
    transform-origin: 1%;
    transition-duration: 0.1s;
    border-bottom: 1px solid #172b4d;
  }
}

/* animations */
.brand-logo:hover {
  transform: scale(1.15);
  transform-origin: 1%;
  transition-duration: 0.1s;
}

.social-icons:hover {
  transform: scale(1.2);
  transform-origin: 1%;
  transition-duration: 0.1s;
}

/* modal style */
.modal-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: none;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  background-color: #c1c7d0;
  padding-bottom: 50px;
  padding-top: 50px;
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  background-color: white;
  overflow-y: scroll;
  height: 80vh;
  opacity: 100%;
  width: 80%;
  padding: 20px 20px 20px 20px;
  border-radius: 18px;
  margin: 0;
  background-image: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #091e42;
  margin: 0;
}

.modal-close {
  color: #67798e;
  font-size: 38px;
  font-weight: 300;
  margin: 0;
}

.small-description {
  display: flex;
  margin-bottom: 40px;
}

.modal-describe {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  color: #7a869a;
  line-height: 20px;
}

.modal-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 30px;
}

.modal-li {
  margin-top: 5px;
}

.modal-ul {
  padding-left: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 2px;
}

.modal-texts {
  padding-right: 14px;
  font-size: 15px;
  font-weight: 400;
  color: #344563;
  line-height: 25px;
}

.modal-hr {
  border: 0.5px solid #ebecf0;
}

.modal-btn {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #396df2;
  padding: 8px 10px 8px 10px;
}

.modal-btn:hover {
  background-color: #c6c2f892;
}

.modal-vectors {
  height: 12px;
  padding-left: 8px;
}

.modal-img {
  width: 100%;
}
