body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.logo-link {
  color: #6070ff;
  font-size: 25px;
  font-weight: 700;
}

.bi-list {
  margin-top: px;
  width: 30px;
  height: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
}

.nav {
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

#intro {
  background-image: url(./Assets/background-images/header-shapes\ mobile.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 150px;
}

.greetings {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding-right: 10%;
}

.intro-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: #6070ff;
  font-weight: 500;
  font-size: 15px;
}

.social-icons {
  height: 22px;
  width: 22px;
  padding-right: 15px;
}

#projects {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 30px;
}

.project {
  background-color: #ffffff;
  margin-top: 30px;
  margin-right: 24px;
  margin-left: 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.project-image {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.project-content {
  padding-left: 15px;
  padding-right: 15px;
}

.project-heading {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
  display: inline;
}
#canopy {
  color: #344563;
}
.count-vector {
  padding-left: 5px;
  padding-right: 5px;
}
.description-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 19px;
  color: #344563;
}
.language-used {
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px 4px 12px;
  font-size: 12px;
  border-radius: 8px 8px 8px 8px;
}
.project-link {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}
#link {
  padding: 12px 12px 12px 12px;
  margin-top: 25px;
  margin-bottom: 15px;
  border: 1px solid #396df2;
  display: inline-block;
  border-radius: 8px 8px 8px 8px;
}
#second-project {
  margin-top: 100px;
}
#third-project {
  margin-top: 100px;
}
